@import 'variables';

@media (min-width: 960px) {
    
    .tainercon {
        display: grid;
        grid-template: {
                        areas:"vega vega"
                            "titulop titulop"
                            "niam niam"
                            "retoof retoof";
                        rows:50px 0.5fr auto 135px;
                        columns: 160px 1fr;
                        
        }
    
        .titulop { 
            grid-row:1/3;
            grid-column:1/3;
            background: {
                image: url(../img/fdp1.jpg);
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            height: 60rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            color: map-get($colores, bordes);
            text-shadow: 2px 2px 2px map-get($colores, textoTouchP);
            font: {
                weight: bold; 
                size: 120px;
            }
            opacity: 0.8;
    
                h1{
                    font: {
                        size: 240px;
                        weight: bold;
                        family: 'Source Serif Pro', serif;
                    } 
                }

                h3{
                    display:none;
                }
        }       

        .nume {
            grid-area:vega;
            position: fixed;
            width: 100%;
            z-index:99999;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        
    
            ul{
                display: flex;
                flex-flow: row;
                justify-content: flex-end;
                list-style-type: none;
                align-items: center; 
            }
        }

        .secciones {
            grid-area:niam;
            display: flex;
            flex-flow: row wrap;
            align-content:flex-start;
            margin-bottom: 9px;
        
            @mixin secc{
                width: 50%;
                height: 500px;
                background: {
                    repeat: no-repeat;
                    size:15%;
                    position-x:95%;
                    position-y:95%;
                    color: map-get($colores, fondo);
                }
                padding: 5% 5% 0% 5%;
                color: map-get($colores, texto);
            }

            #nosotros {
                @include secc;
                background: {
                    image: url(/img/empresa.png);
                }
                box-shadow: 0px -9px map-get($colores,bordes);
                border: {
                    right: 2px solid map-get($colores,bordes);
                    bottom: 2px solid map-get($colores,bordes);
                }
                margin-top: 9px;
    
                &:hover {
                    background-color:map-get($colores, fondoTouch);
                    color: map-get($colores, textoTouch);
                    box-shadow: 0px -9px map-get($colores, bordesTouch);
                    border: {
                        right: 2px solid map-get($colores, bordesTouch);
                        bottom: 2px solid map-get($colores, bordesTouch);
                    }
                    p {
                        a{
                            color:map-get($colores, textoTouch);
                        }
                    }
                }

                h3{
                    font: {
                        size: 30px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
                    }
                }
                p{
                    margin-top:5%;
                    font: {
                        size: 23px;
                        style:italic;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
                    }

                   /*  a {
                        color: map-get($colores, texto);
                        text-decoration: underline;
                    } */
                    /* a:hover {
                        color: map-get($colores, textoTouchS);
                    } */
                }
            }
    

            #servicios {
                @include secc;
                background: {
                    image: url(/img/objetivo.png);   
                }
                border: {
                    left: 2px solid map-get($colores, bordes);
                    bottom: 2px solid map-get($colores, bordes);
                }
                box-shadow: 0px -9px map-get($colores, bordes);
                margin-top: 9px;
            
                &:hover {
                    background-color: map-get($colores, fondoTouch);
                    color: map-get($colores, textoTouch);
                    box-shadow: 0px -9px map-get($colores, bordesTouch);
                    border: {
                        left: 2px solid map-get($colores, bordesTouch);
                        bottom: 2px solid map-get($colores, bordesTouch);
                    }
                    article {
                        p {
                            a {
                                color: map-get($colores, textoTouch);
                            }
                        }
                    }
                }    
    
                article {
                    h3 {
                        font: {
                            size: 30px;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        }
                    }
                    ul {
                        margin-top:5%;
                        font: {
                            size: 23px;
                            style: italic;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        }
                        list-style: {
                            type:square;
                            position:inside;
                        } 
                    }
                    p{
                        margin-top:5%;
                        font: {
                            size: 23px;
                            style:italic;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        }
                        /* a {
                            color: map-get($colores, texto);
                            text-decoration: underline;
                        }
                        a:hover {
                            color: map-get($colores, textoTouchS);
                        } */
                    }
                }
            }
    
    

            #aseguradoras {
                @include secc;
                background: {
                    image: url(/img/compania.png);
                }
                border: {
                    right: 2px solid map-get($colores, bordes);
                    top: 2px solid map-get($colores, bordes);
                }
                box-shadow: 0px 9px map-get($colores, bordes);
                
            
                &:hover {
                    background-color:map-get($colores, fondoTouch);
                    color: map-get($colores, textoTouch);
                    box-shadow: 0px 9px map-get($colores, bordesTouch);
                    border: {
                        right: 2px solid map-get($colores, bordesTouch);
                        top: 2px solid map-get($colores, bordesTouch);
                    }
                    article {
                        p {
                            a {
                                color: map-get($colores, textoTouch);
                            }
                        }
                    }
                }

                article {
                    h3{
                        font: {
                            size: 30px;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        } 
                    }
                    p{
                        margin-top:5%;
                        font: {
                            size: 23px;
                            style:italic;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        }
                        
                        /* a {
                            color: map-get($colores, texto);
                            text-decoration: underline;
                        }
                        a:hover {
                            color: map-get($colores, textoTouchS);
                        } */
                    }
                }
            }

            #contacto {
                @include secc;
                background: {
                    image: url(/img/ubicacion.png);
                }
                border: {
                    left: 2px solid map-get($colores, bordes);
                    top: 2px solid map-get($colores, bordes);
                }
                box-shadow: 0px 9px map-get($colores, bordes);

                article {
                    h3 {
                        font: {
                            size: 30px;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        } 
                    }
                    p{
                        margin-top:5%;
                        font: {
                            size: 23px;
                            style:italic;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        }
                        /* a {
                            color: map-get($colores, texto);
                            text-decoration: underline;
                        }
                        a:hover {
                            color:map-get($colores, textoTouchS);
                        }  */
                    }
                }

                &:hover {
                    background-color:map-get($colores, fondoTouch);
                    color: map-get($colores, textoTouch);
                    box-shadow: 0px 9px map-get($colores, bordesTouch);
                    border-left: 2px solid map-get($colores, bordesTouch);
                    border-top: 2px solid map-get($colores, bordesTouch);
                    article {
                        p {
                            a {
                                color: map-get($colores, textoTouch);
                            }
                        }
                    }
                }
            }
        }

                    .boton {
                        display: inline-block;
                        width: 120px;
                        height: 40px;
                        background-color: #6c757d;
                        text-align: center;
                        color: #212529;
                        border-radius: 20px;
                        text-decoration: underline;
                    }
                    
                    .boton--n {
                        @extend .boton;
                        background-color: rgb(253, 253, 156);
                        color: #212529;
                    
                    }
                    .boton--s {
                        @extend .boton;
                        background-color: skyblue;
                        color: #212529;
                    
                    }
                    .boton--a {
                        @extend .boton;
                        background-color: greenyellow;
                        color: #212529;
                    }
                    .boton--c {
                        @extend .boton;
                        background-color: rgb(206, 69, 69);
                        color: #212529;
                    }

            #redes {
                grid-area: retoof;
                display: flex;
                background-color: map-get($colores, fondo);
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                height: 100%;
            
                &:hover {
                    background-color:map-get($colores, fondoTouchS);
                    color: map-get($colores, texto);
                    box-shadow: 0px -9px map-get($colores, bordesTouchS);

                    .ubic-F {
                        color: map-get($colores, texto);
                    }
                }

                .redes1 {
                    justify-items: center;
                    padding: 10px 0px 0px 50px;

                    a{
                        padding:0px 55px 0px 50px;  
                    }
                } 
                
                .ubic-F {
                    padding: 10px 85px 10px 10px;
                    color:map-get($colores, texto);
                    h3{
                        font: {
                            size: 23px;
                            style: normal;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        } 
                    }
                    p { 
                        font: {
                            size: 16px;
                            style: italic;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        }
                    }
                }
            }
        
    
    




        .portadan {
            grid-row:1/3;
            grid-column:1/3;
            background: {
                image: url(../img/teamwork1.jpg);
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            height: 35rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            color: map-get($colores,textoP);
            text-shadow: 2px 2px 2px map-get($colores, textoTouchP);
            opacity: 0.6;
        
            h1 {
                font: {
                    size: 3.5rem;
                    weight: bold; 
                    family: 'Source Serif Pro', serif;
                }
            }
        } 

        #nosotrosp {
            grid-area:niam;
            display: flex;
            flex-flow: column nowrap;
            align-content:center;
            width:100%;
            height:550px;
            background: {
                image: url(/img/history-book.png);
                repeat: no-repeat;
                size:20%;
                position-x: 85%;
                position-y:center;
                color: map-get($colores, fondo);
            }
            padding: 5%;
            border: {
                top: 9px solid map-get($colores, bordes);
                bottom: 9px solid map-get($colores, bordes);
            }
            color:map-get($colores, texto);
    
            &::-webkit-scrollbar{
                display: none;
            } 

            article {
                font: {
                    style: italic;
                    size: 25px;
                    family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                }
                width: 50%;
                color: map-get($colores, texto);
                h3 {
                    font-size:40px;
                    color: map-get($colores, texto);
                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                }
            }
     
            &:hover {
                background-color:map-get($colores, fondoTouch);
                color: map-get($colores, textoTouch);
                box-shadow: 0px 9px map-get($colores, bordesTouch);
                border: {
                    bottom: 9px solid map-get($colores, bordesTouch);
                    top: 9px solid map-get($colores, bordesTouch);
                }

                article {
                    color: map-get($colores, textoTouch);
                }
            }
        }
    
    







        .portadas {
            grid-row:1/3;
            grid-column:1/3;
            background: {
                image: url(../img/serviciosp4.jpg);
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            height: 35rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            color: map-get($colores,textoP);
            text-shadow: 2px 2px 2px map-get($colores, textoTouchP);;
            opacity: 0.6;
            
            h1 {
                font: {
                    size: 3.5rem;
                    weight: bold;
                    family: 'Source Serif Pro', serif;
                }
            }
        }    
        #serviciosp {
            grid-area:niam;
            display: flex;
            flex-flow: column nowrap;
            margin-bottom: 0px;
            width: 100%;
            height: auto;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            border: {
                top: 9px solid map-get($colores, bordes);
                bottom: 9px solid map-get($colores, bordes);
            }
            background-color: map-get($colores, fondo);
        }
   
    
    


        .portadaa {
            grid-row:1/3;
            grid-column:1/3;
            background: {
                image: url(../img/aseguradoras3.jpg);
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            height: 35rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            color: map-get($colores, fondo);
            text-shadow: 2px 2px 2px map-get($colores,textoTouchP);
            opacity: 0.7;
            
            h1 {
                font: {
                size: 3.5rem;
                weight: bold; 
                family: 'Source Serif Pro', serif;
                }
            }
        }

        .aseg1 {
            grid-area: niam;
            display: flex;
            flex-flow: row nowrap;
            border-bottom: 9px solid map-get($colores,bordes);
            border-top: 9px solid map-get($colores,bordes);
            height: 500px;

            #parana{
                width: 100%;
                height: 100%;
                background: {
                    color: map-get($colores, fondo);
                    image: url(../img/parana-seguros-removebg-preview.png);
                    repeat: no-repeat;
                    size: 80%;
                    position-y: 100%;
                    position-x: 50%;
                }
                border-right: 2px solid #6c757d;
            
                h3 {
                    text-align: center;
                    padding-top:10%;
                    color: map-get($colores,texto);
                    font: {
                        size: 25px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
                    }
                }

                p{
                    text-align: center;
                    color: map-get($colores,texto);
                    font: {
                        size: 14px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                    } 
                    padding: {
                        left: 5%;
                        right: 5%;
                    }
                    a {
                        text-decoration: underline;
                        color: map-get($colores,texto);
                    }
                    a:hover {
                        color: map-get($colores,textoTouchS);
                    }
                }

                &:hover {
                    box-shadow: 0px -9px map-get($colores, bordesTouch);
                    background-color:map-get($colores, fondoTouch);
                    border-right: 2px solid map-get($colores, bordesTouch);
                    h3{
                        color:map-get($colores, textoTouch);
                    }
                    p{
                        color:map-get($colores, textoTouch);
                        a{
                            color: map-get($colores,textoTouch);
                        }
                    }
                }
            }
        
            #lps{
                width: 100%;
                height: 100%;
                background: {
                    color: map-get($colores,fondo);
                    image: url(../img/la-perseverancia-seguros-removebg-preview.png);
                    repeat: no-repeat;
                    size: 80%;
                    position-y: 100%;
                    position-x: 50%;
                }
                border: {
                    right: 2px solid map-get($colores,bordes);
                    left: 2px solid map-get($colores,bordes);
                }
            
                h3 {
                    text-align: center;
                    padding-top:10%;
                    color: map-get($colores, texto);
                    font: {
                        size: 25px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                    }
                }
                p{
                    text-align: center;
                    color: map-get($colores, texto);
                    font: {
                        size: 14px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                    } 
                    padding: {
                        left: 5%;
                        right: 5%;
                    }
                    a{
                        text-decoration: underline;
                        color: map-get($colores, texto);
                    }
                    a:hover {
                        color:map-get($colores,textoTouchS);
                    }
                }

                &:hover {
                    box-shadow: 0px -9px map-get($colores,bordesTouch);
                    background-color:rgb(247, 184, 173);
                    border: {
                        right: 2px solid map-get($colores,bordesTouch);
                        left: 2px solid map-get($colores,bordesTouch);
                    }
                    h3 {
                        color:map-get($colores, textoTouch);
                    }
                    p{
                        color:map-get($colores, textoTouch);
                        a{
                            color: map-get($colores, textoTouch);
                        }
                    }
                }
            }
    
            #benef{
                width: 100%;
                height: 100%;
                background: {
                    color: map-get($colores,fondo);
                    image: url(../img/beneficio_sa-removebg-preview.png);
                    repeat: no-repeat;
                    size: 60%;
                    position-y: 90%;
                    position-x: 50%;
                }
                border: {
                    right: 2px solid map-get($colores,bordes);
                    left: 2px solid map-get($colores,bordes);
                }
            
                h3 {
                    text-align: center;
                    padding-top:10%;
                    color: map-get($colores, texto);
                    font: {
                        size: 25px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
                    }
                }

                p{
                    text-align: center;
                    color: map-get($colores, texto);
                    font: {
                        size: 14px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                    } 
                    padding: {
                        left: 5%;
                        right: 5%;
                    }
                    a{
                        text-decoration: underline;
                        color: map-get($colores, texto);
                    }
                    a:hover {
                        color: map-get($colores,textoTouchS);
                    }
                }
                
                &:hover {
                    box-shadow: 0px -9px map-get($colores,bordesTouch);
                    background-color:map-get($colores,fondoTouch);
                    border: {
                        right: 2px solid map-get($colores,bordesTouch);
                        left: 2px solid map-get($colores,bordesTouch);
                    }
                    h3 {
                        color:map-get($colores,textoTouch);
                    }
                    p {
                        color:map-get($colores,textoTouch);
                        a {
                            color:map-get($colores,textoTouch);
                        }
                    }
                }
            }

            #smg{
                width: 100%;
                height: 100%;
                background: {
                    color: map-get($colores,fondo);
                    image: url(../img/swiss_medical-removebg-preview.png);
                    repeat: no-repeat;
                    size: 90%;
                    position-y: 100%;
                    position-x: 50%;
                }
                border: {
                    right: 2px solid map-get($colores,bordes);
                    left: 2px solid map-get($colores,bordes);
                }
            
                h3 {
                    text-align: center;
                    padding-top:10%;
                    color: map-get($colores,texto);
                    font: {
                        size: 25px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
                    }
                }
                p{
                    text-align: center;
                    color: map-get($colores,texto);
                    font: {
                        size: 14px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                    }
                    padding: {
                        left: 5%;
                        right: 5%;
                    } 
                    a{
                        text-decoration: underline;
                        color: map-get($colores,texto);
                    }
                    a:hover {
                        color:map-get($colores,textoTouchS);
                    }
                }

                &:hover {
                    box-shadow: 0px -9px map-get($colores,bordesTouch);
                    background-color:rgb(247, 184, 173);
                    border: {
                        right: 2px solid map-get($colores,bordesTouch);
                        left: 2px solid map-get($colores,bordesTouch);
                    }
                    h3{
                        color:map-get($colores, textoTouch);
                    }
                    p{
                        color:map-get($colores, textoTouch);
                        a{
                            color:map-get($colores, textoTouch);
                        }
                    }
                }
            }

            #medicar{
                width: 100%;
                height: 100%;
                background: {
                    color: map-get($colores,fondo);
                    image: url(../img/medicar_work-removebg-preview.png);
                    repeat: no-repeat;
                    size: 60%;
                    position-y: 100%;
                    position-x: 50%;
                }
                border: {
                    right: 2px solid map-get($colores,bordes);
                    left: 2px solid map-get($colores,bordes);
                }
                h3 {
                    text-align: center;
                    padding-top:10%;
                    color: map-get($colores,texto);
                    font: {
                        size: 25px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                    } 
                }
                p{
                    text-align: center;
                    color: map-get($colores,texto);
                    font: {
                        size: 14px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                    } 
                    padding: {
                        left: 5%;
                        right: 5%;
                    }
                    
                    a{
                        text-decoration: underline;
                        color: map-get($colores,texto);
                    }
                    a:hover{
                        color:map-get($colores,textoTouchS);
                    }
                }

                &:hover {
                    box-shadow: 0px -9px map-get($colores,bordesTouch);
                    background-color:map-get($colores,fondoTouch);
                    border: {
                        right: 2px solid map-get($colores,bordesTouch);
                        left: 2px solid map-get($colores,bordesTouch);
                    }
                    h3{
                        color:map-get($colores,textoTouch);
                    }
                    p{
                        color:map-get($colores,textoTouch);
                        a{
                            color:map-get($colores,textoTouch);
                        }
                    }
                }
            }
 
            #rivadavia{
                width: 100%;
                height: 100%;
                background: {
                    color: map-get($colores,fondo);
                    image: url(../img/seguros-rivadavia-removebg-preview.png);
                    repeat: no-repeat;
                    size: 100%;
                    position-y: 100%;
                    position-x: 50%;
                }
                border-left: 2px solid map-get($colores,bordes);
             
                h3 {
                    text-align: center;
                    padding-top:10%;
                    color: map-get($colores,texto);
                    font: {
                        size: 25px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                    } 
                }
                p{
                    text-align: center;
                    color: map-get($colores,texto);
                    font: {
                        size: 14px;
                        family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                    }
                    padding: {
                        left: 5%;
                        right: 5%;
                    } 
                    a{
                        text-decoration: underline;
                        color: map-get($colores,texto);
                    }
                    a:hover{
                        color:map-get($colores,textoTouchS);
                    }
                }
        
                &:hover {
                    box-shadow: 0px -9px map-get($colores,bordesTouch);
                    background-color:rgb(247, 184, 173);
                    border-left: 2px solid map-get($colores,bordesTouch);
                    h3{
                        color:map-get($colores,textoTouch);
                    }
                    p{
                        color:map-get($colores,textoTouch);
                        a{
                            color:map-get($colores,textoTouch);
                        }
                    }
                }
            }
   
        }

 






        .portadac {
            grid-row:1/3;
            grid-column:1/3;
            background: {
                image: url(../img/portadac3.jpg);
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            height: 35rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px 2px map-get($colores,textoTouchP);
            opacity: 0.7;
            
            h1 {
            display: none;
            }
        }

        .cntct {
            grid-area: niam;
            display: flex;
            flex-flow: row nowrap;
            border: {
                bottom: 9px solid map-get($colores,bordes);
                top: 9px solid map-get($colores,bordes);
            }
            height: 100%;
        
            #contactosp {
                width: 30%;
                background-color: map-get($colores,fondo);
                border-right: 2px solid map-get($colores,bordes);
            
                .formulario {

                    h3{
                        color:map-get($colores,texto);
                        padding: 2%;
                        font: {
                            size: 25px;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        } 
                    }
    
                    article{
                        color: map-get($colores,texto);
                        font: {
                            size: 18px;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
                        }
                        padding: 1% 0% 2% 5%;
                    }
                }

                &:hover {
                    box-shadow: 0px -9px map-get($colores,bordesTouch);
                    background-color:map-get($colores,fondoTouch);
                    border-right: 2px solid map-get($colores,bordesTouch);
                    
                    .formulario {
                        h3{
                            color:map-get($colores,textoTouch);
                        }
                    }
                    article{
                        color:map-get($colores,textoTouch);
                    }
                }
            }

            #ubicacionp {
                width: 70%;
                background-color: #343a40;
            
                section {

                    h3{
                        color:map-get($colores,texto);
                        font: {
                            size: 25px;
                            family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                        } 
                        padding: 1%;
                    }
                
                    article{
                        padding: 1% 5% 0% 5%;
                    }
                }

                &:hover {
                    box-shadow: 0px -9px map-get($colores,bordesTouch);
                    background-color:map-get($colores,fondoTouch);
                    border-left: 2px solid map-get($colores,bordesTouch);
                    section {
                        h3{
                            color:map-get($colores,textoTouch);
                        }
                    }
                }
            }
        }   
    }
}
    

