$colores: (
    fondo:#343a40,
    fondoTouch: rgb(247, 184, 173),
    fondoTouchS: #212529,
    texto: white,
    textoP: #343a40,
    textoTouch: #212529,
    textoTouchP: rgb(247, 184, 173),
    textoTouchS:tomato, 
    bordes: #6c757d,
    bordesTouch: #212529,
    bordesTouchS: rgb(247, 184, 173),
    fondot: #9fa8b1,
);



