$colores: (
    fondo:#343a40,
    fondoTouch: rgb(247, 184, 173),
    fondoTouchS: #212529,
    texto: white,
    textoP: #343a40,
    textoTouch: #212529,
    textoTouchP: rgb(247, 184, 173),
    textoTouchS:tomato, 
    bordes: #6c757d,
    bordesTouch: #212529,
    bordesTouchS: rgb(247, 184, 173)
);
/* 
map-get($colores,fondo)
map-get($colores,fondoTouch)
map-get($colores,fondoTouchS)
map-get($colores,texto)
map-get($colores,textoP)
map-get($colores,textoTouch)
map-get($colores,textoTouchP)
map-get($colores,textoTouchS)
map-get($colores,bordes)
map-get($colores,bordesTouch)
map-get($colores,bordesTouchS)
 */


